/*────────── Callout ──────────*/

.markdown-source-view.mod-cm6 .cm-content > [contenteditable=false] {
    contain: unset !important;
}

.markdown-source-view.mod-cm6 .cm-embed-block:not(.cm-table-widget):hover {
    overflow: visible;
}

// Primary Default
.callout {
    background-color: color-mix(
                            in srgb,
                            rgba(var(--callout-color)) var(--callout-color-opacity), 
                            var(--editor-bg-color)
                            );
    padding: 0;
    box-shadow: var(--callout-container-shadow);

    // Border Radius Fix for Collapsible and Collapsed
    &.is-collapsible.is-collapsed .callout-title {
        border-radius: var(--callout-radius);
    }
    
    // Callout Title
    &-title {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; 

        box-shadow: var(--callout-title-shadow);

        gap: var(--size-4-2);

        .callout-icon,
        .callout-fold {
            filter: var(--callout-icon-fold-filter);

            // Ensures the icons resize if user resizes font size in Settings
            & svg {
                height: var(--font-text-size);
                width: var(--font-text-size);
            }
        }

        &-inner {
            font-weight: var(--font-semibold);
        }
    }

    // Aligns the Fold Icon to the right
    .callout-title {
        margin-right: auto;
    }

    .callout-fold {
        margin-left: auto;
    }
    
    // Callout Content
    &-content {
        box-shadow: var(--callout-content-shadow);
        border-bottom-right-radius: var(--callout-radius);
        border-bottom-left-radius: var(--callout-radius);
    }
}

// Primary Flat
body.callout-flat {
    .callout {
        --callout-title-shadow: none;
        --callout-content-shadow: none;
        --callout-container-shadow: none;
    }
}

// Full Color
body.callout-fullcolor {
    .callout {
        --callout-content-background: color-mix(
                                            in srgb,
                                            rgba(var(--callout-color)) var(--callout-color-opacity), 
                                            var(--editor-bg-color)
                                            );
        --callout-color-opacity: 16.5%;
        --callout-title-shadow: none;
        --callout-content-shadow: none;
        --callout-container-shadow: none;
    }
}

// Color Callout Title
body.callout-colored-title {
    .callout {
        --callout-title-color: rgba(var(--callout-color) 100%);
    
        &-title-inner {
            filter: var(--callout-title-filter);
        }
    }
}

// Callout Type Styling
// you can create custom callout types with custom icons
// via adding the --callout-icon variable and using lucide class names
// you can also specify an SVG icon

body {
    // Native Callout Icons
    --callout-icon-general: shapes;
    --callout-icon-note: sticker;
    --callout-icon-abstract: loader;
    --callout-icon-summary: align-justify;
    --callout-icon-tldr: book-open-text;
    --callout-icon-info: badge-info;
    --callout-icon-todo: list-todo;
    --callout-icon-tip: clover;
    --callout-icon-hint: search-slash;
    --callout-icon-important: square-asterisk;
    --callout-icon-success: check-check;
    --callout-icon-check: check-check;
    --callout-icon-done: check-check;
    --callout-icon-question: circle-help;
    --callout-icon-help: life-buoy;
    --callout-icon-faq: circle-help;
    --callout-icon-warning: triangle-alert;
    --callout-icon-caution: construction;
    --callout-icon-attention: megaphone;
    --callout-icon-fail: circle-slash;
    --callout-icon-missing: search;
    --callout-icon-danger: shield-alert;
    --callout-icon-error: ban;
    --callout-icon-bug: bug;
    --callout-icon-example: scroll-text;
    --callout-icon-quote: message-square-note;
    --callout-icon-cite: book-marked;

    // Primary Exclusive Callout Icons
    --callout-icon-archive: archive;
    --callout-icon-law: scale;
    --callout-icon-pro: thumbs-up;
    --callout-icon-con: thumbs-down;
    --callout-icon-idea: lightbulb;
    --callout-icon-formula: calculator;
    --callout-icon-related: shuffle;
    --callout-icon-celebrate: party-popper;
    --callout-icon-money: circle-dollar-sign;
    --callout-icon-backlog: layers-3;
    --callout-icon-in-progress: circle-dashed;
    --callout-icon-target: target;
    --callout-icon-resources: library-big;
    --callout-icon-links: link;
    --callout-icon-world: sparkles;
    --callout-icon-backstory: history;
    --callout-icon-conflict: swords;
    --callout-icon-challenge: sword;
    --callout-icon-encounter: rabbit;
    --callout-icon-translation: languages;
    --callout-icon-spoiler: eye-off;

    // Native Callout Colors
    --callout-rgb-general: 182, 196, 182;
    --callout-rgb-note: 200, 175, 155;
    --callout-rgb-summary: 234, 181, 52;
    --callout-rgb-abstract: 34, 152, 225;
    --callout-rgb-tldr: 240, 180, 225;
    --callout-rgb-info: 71, 162, 187;
    --callout-rgb-todo: 58, 173, 252;
    --callout-rgb-tip: 70, 206, 185;
    --callout-rgb-hint: 70, 206, 185;
    --callout-rgb-important: 246, 113, 118;
    --callout-rgb-success: 87, 200, 83;
    --callout-rgb-check: 87, 200, 83;
    --callout-rgb-done: 87, 200, 83;
    --callout-rgb-question: 130, 190, 235;
    --callout-rgb-help: 250, 128, 96;
    --callout-rgb-faq: 130, 190, 235;
    --callout-rgb-warning: 255, 161, 32;
    --callout-rgb-caution: 255, 161, 32;
    --callout-rgb-attention: 255, 161, 32;
    --callout-rgb-fail: 226, 72, 86;
    --callout-rgb-missing: 226, 72, 86;
    --callout-rgb-danger: 226, 72, 86;
    --callout-rgb-error: 226, 72, 86;
    --callout-rgb-bug: 153, 93, 133;
    --callout-rgb-example: 216, 141, 130;
    --callout-rgb-quote: 173, 214, 171;
    --callout-rgb-cite: 237, 217, 162;

    // Primary Exclusive Callout Colors
    --callout-rgb-archive: 170, 136, 82;
    --callout-rgb-law: 189, 123, 68;
    --callout-rgb-pro: 57, 169, 80;
    --callout-rgb-con: 221, 65, 71;
    --callout-rgb-idea: 243, 161, 56;
    --callout-rgb-formula: 105, 219, 209;
    --callout-rgb-related: 175, 213, 173;
    --callout-rgb-celebrate: 156, 129, 106;
    --callout-celebrate-color: linear-gradient(45deg, #ef92af70, #7bd7e970, #81e1a570, #ffda2b70);
    --callout-rgb-money: 126, 208, 122;
    --callout-rgb-backlog: 170, 136, 82;
    --callout-rgb-in-progress: 244, 220, 19;
    --callout-rgb-target: 231, 143, 37;
    --callout-rgb-resources: 182, 93, 150;
    --callout-rgb-links: 93, 169, 200;
    --callout-rgb-world: 255, 199, 160;
    --callout-rgb-backstory: 70, 206, 185;
    --callout-rgb-conflict: 195, 33, 77;
    --callout-rgb-challenge: 216, 141, 130;
    --callout-rgb-encounter: 137, 192, 108;
    --callout-rgb-translation: 242, 169, 200;
    --callout-rgb-spoiler: 156, 129, 106;
}

.callout {
    --callout-icon: var(--callout-icon-general);
    --callout-color: var(--callout-rgb-general);

    // Native Callouts
    &[data-callout="note"] {
        --callout-icon: var(--callout-icon-note);
        --callout-color: var(--callout-rgb-note);
    }
    &[data-callout="abstract"] {
        --callout-icon: var(--callout-icon-abstract);
        --callout-color: var(--callout-rgb-abstract);
    }
    &[data-callout="summary"] {
        --callout-icon: var(--callout-icon-summary);
        --callout-color: var(--callout-rgb-summary);
    }
    &[data-callout="tldr"],
    &[data-callout="tl;dr"] {
        --callout-icon: var(--callout-icon-tldr);
        --callout-color: var(--callout-rgb-tldr);
    }
    &[data-callout="info"] {
        --callout-icon: var(--callout-icon-info);
        --callout-color: var(--callout-rgb-info);
    }
    &[data-callout="todo"] {
        --callout-icon: var(--callout-icon-todo);
        --callout-color: var(--callout-rgb-todo);
    }
    &[data-callout="tip"] {
        --callout-icon: var(--callout-icon-tip);
        --callout-color: var(--callout-rgb-tip);
    }
    &[data-callout="hint"] {
        --callout-icon: var(--callout-icon-hint);
        --callout-color: var(--callout-rgb-hint);
    }
    &[data-callout="important"] {
        --callout-icon: var(--callout-icon-important);
        --callout-color: var(--callout-rgb-important);
    }
    &[data-callout="success"] {
        --callout-icon: var(--callout-icon-success);
        --callout-color: var(--callout-rgb-success);
    }
    &[data-callout="check"] {
        --callout-icon: var(--callout-icon-check);
        --callout-color: var(--callout-rgb-check);
    }
    &[data-callout="done"] {
        --callout-icon: var(--callout-icon-done);
        --callout-color: var(--callout-rgb-done);
    }
    &[data-callout="question"] {
        // --callout-icon: var(--callout-icon-question);
        --callout-color: var(--callout-rgb-question);
    }
    &[data-callout="help"] {
        --callout-icon: var(--callout-icon-help);
        --callout-color: var(--callout-rgb-help);
    }
    &[data-callout="faq"] {
        // --callout-icon: var(--callout-icon-faq);
        --callout-color: var(--callout-rgb-faq);
    }
    &[data-callout="warning"] {
        // --callout-icon: var(--callout-icon-warning);
        --callout-color: var(--callout-rgb-warning);
    }
    &[data-callout="caution"] {
        --callout-icon: var(--callout-icon-caution);
        --callout-color: var(--callout-rgb-caution);
    }
    &[data-callout="attention"] {
        --callout-icon: var(--callout-icon-attention);
        --callout-color: var(--callout-rgb-attention);
    }
    &[data-callout="failure"],
    &[data-callout="fail"] {
        --callout-icon: var(--callout-icon-fail);
        --callout-color: var(--callout-rgb-fail);
    }
    &[data-callout="missing"] {
        --callout-icon: var(--callout-icon-missing);
        --callout-color: var(--callout-rgb-missing);
    }
    &[data-callout="danger"] {
        --callout-icon: var(--callout-icon-danger);
        --callout-color: var(--callout-rgb-danger);
    }
    &[data-callout="error"] {
        --callout-icon: var(--callout-icon-error);
        --callout-color: var(--callout-rgb-error);
    }
    &[data-callout="bug"] {
        --callout-icon: var(--callout-icon-bug);
        --callout-color: var(--callout-rgb-bug);
    }
    &[data-callout="example"] {
        --callout-icon: var(--callout-icon-example);
        --callout-color: var(--callout-rgb-example);
    }
    &[data-callout="quote"] {
        // --callout-icon: var(--callout-icon-quote);
        --callout-color: var(--callout-rgb-quote);
    }
    &[data-callout="cite"] {
        --callout-icon: var(--callout-icon-cite);
        --callout-color: var(--callout-rgb-cite);
    }

    // Primary Exclusive Callouts
    &[data-callout="archive"] {
        --callout-icon: var(--callout-icon-archive);
        --callout-color: var(--callout-rgb-archive);
    }
    &[data-callout="law"] {
        --callout-icon: var(--callout-icon-law);
        --callout-color: var(--callout-rgb-law);
    }
    &[data-callout="pro"] {
        --callout-icon: var(--callout-icon-pro);
        --callout-color: var(--callout-rgb-pro);
    }
    &[data-callout="con"] {
        --callout-icon: var(--callout-icon-con);
        --callout-color: var(--callout-rgb-con);
    }
    &[data-callout="idea"] {
        --callout-icon: var(--callout-icon-idea);
        --callout-color: var(--callout-rgb-idea);
    }
    &[data-callout="formula"] {
        --callout-icon: var(--callout-icon-formula);
        --callout-color: var(--callout-rgb-formula);
    }
    &[data-callout="related"] {
        --callout-icon: var(--callout-icon-related);
        --callout-color: var(--callout-rgb-related);
    }
    &[data-callout="celebrate"] {
        --callout-icon: var(--callout-icon-celebrate);
        --callout-color: var(--callout-rgb-celebrate);

        background: var(--callout-celebrate-color);
        background-size: 800% 800%;
        animation: animateCelebrate 15s ease infinite;
    }
    &[data-callout="money"] {
        --callout-icon: var(--callout-icon-money);
        --callout-color: var(--callout-rgb-money);
    }
    &[data-callout="backlog"] {
        --callout-icon: var(--callout-icon-backlog);
        --callout-color: var(--callout-rgb-backlog);
    }
    &[data-callout="in-progress"] {
        --callout-icon: var(--callout-icon-in-progress);
        --callout-color: var(--callout-rgb-in-progress);
    }
    &[data-callout="target"] {
        --callout-icon: var(--callout-icon-target);
        --callout-color: var(--callout-rgb-target);
    }
    &[data-callout="resources"] {
        --callout-icon: var(--callout-icon-resources);
        --callout-color: var(--callout-rgb-resources);
    }
    &[data-callout="links"] {
        --callout-icon: var(--callout-icon-links);
        --callout-color: var(--callout-rgb-links);
    }
    &[data-callout="world"] {
        --callout-icon: var(--callout-icon-world);
        --callout-color: var(--callout-rgb-world);
    }
    &[data-callout="backstory"] {
        --callout-icon: var(--callout-icon-backstory);
        --callout-color: var(--callout-rgb-backstory);
    }
    &[data-callout="conflict"] {
        --callout-icon: var(--callout-icon-conflict);
        --callout-color: var(--callout-rgb-conflict);
    }
    &[data-callout="challenge"] {
        --callout-icon: var(--callout-icon-challenge);
        --callout-color: var(--callout-rgb-challenge);
    }
    &[data-callout="encounter"] {
        --callout-icon: var(--callout-icon-encounter);
        --callout-color: var(--callout-rgb-encounter);
    }
    &[data-callout="translation"] {
        --callout-icon: var(--callout-icon-translation);
        --callout-color: var(--callout-rgb-translation);
    }
    &[data-callout="spoiler"] {
        background: transparent;
        
        --callout-icon: var(--callout-icon-spoiler);
        --callout-color: var(--callout-rgb-spoiler);
        --callout-title-shadow: none;
        --callout-content-shadow: none;
        --callout-container-shadow: none;
        --callout-content-background: none;
    }
}